<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file"> <!-- Make sure 'name' matches what you expect in the server -->
    <input type="submit" value="Upload">
  </form>
  